@import url("https://fonts.googleapis.com/css2?family=Forum&family=Lato:wght@300&family=Montserrat:ital,wght@0,200;0,600;1,400&family=Noto+Sans:wght@400;700&family=Roboto+Flex:opsz@8..144&family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

body {
  background: #000000;
  font-family: "Forum", sans-serif;
}

a {
  text-decoration: none;
}

.img_second {
  position: absolute;
  z-index: -200;
}

#header .header_general {
  display: flex;
  justify-content: space-between;
}
#header .header_general__logo {
  margin-top: 60px;
}
#header .header_general__navbar {
  margin: 70px 0 0 640px;
  position: absolute;
  z-index: 10;
}
#header .header_general__navbar a {
  font-family: "Forum", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  margin-left: 28px;
}
#header .header_general .img {
  position: absolute;
  width: 345px;
  height: 20px;
  left: 960px;
  top: 60px;
}

#hero .hero_general__items {
  display: flex;
  justify-content: space-between;
}
#hero .hero_general__items .img_hero {
  position: absolute;
  left: 820px;
  border-radius: 0 300px 300px 0;
  z-index: -20;
  margin-top: -10px;
}
#hero .hero_general__items__subtitle h1 {
  width: 491px;
  height: 185px;
  font-weight: 400;
  font-size: 200px;
  line-height: 221px;
  letter-spacing: 0.155em;
  color: #FFFFFF;
  border-right: 6px solid #FFA800;
  padding-right: 37px;
}
#hero .hero_general__items__subtitle h2 {
  width: 491px;
  height: 85px;
  font-weight: 400;
  font-size: 72px;
  line-height: 79px;
  letter-spacing: 1.22em;
  border-right: 6px solid #FFFFFF;
  color: #FFA800;
}
#hero .hero_general__items__title {
  height: 214px;
  font-weight: 400;
  font-size: 48px;
  line-height: 90px;
  color: #FFFFFF;
  letter-spacing: 0.2em;
  text-align: start;
  margin-left: 20px;
}
#hero .hero_general__items .img_man {
  position: absolute;
  width: 432px;
  height: 551px;
  left: 1700px;
  top: 190px;
  z-index: 5;
}
#hero .hero_general__items .img_bag {
  position: absolute;
  width: 229.43px;
  height: 234px;
  left: 2010px;
  top: 380.16px;
}
#hero .hero_general__items__p h5 {
  width: 300px;
  height: 60px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #FFA800;
  margin-left: 250px;
}
#hero .hero_general__delivery button {
  width: 270px;
  height: 60px;
  border: 3px solid #FFA800;
  border-radius: 57px;
  background: transparent;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 56px 0;
}
#hero .hero_general__delivery p {
  font-weight: 400;
  font-size: 37px;
  line-height: 35px;
  color: #FFFFFF;
}

#menu {
  margin-bottom: 250px;
}
#menu .menu {
  margin: 140px 0;
}
#menu .menu_gen {
  width: 1300px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#menu .menu_gen__general {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 336px;
  height: 453px;
  border: 4px solid #FFA800;
  border-radius: 14px;
  margin: 300px 80px 0 0;
}
#menu .menu_gen__general__img1 {
  position: absolute;
  width: 330px;
  height: 350px;
  margin-top: -120px;
}
#menu .menu_gen__general__img {
  position: absolute;
  width: 280px;
  height: 350px;
  margin-top: -150px;
}
#menu .menu_gen__general__block {
  margin-top: 100px;
  text-align: center;
}
#menu .menu_gen__general__block h1 {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -0.025em;
  color: #FFFFFF;
  margin: 30px 0;
}
#menu .menu_gen__general__block p {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.025em;
  color: #FFFFFF;
  margin: 15px 0;
}
#menu .menu_gen__general__block button {
  font-family: "Forum", sans-serif;
  width: 308px;
  height: 40px;
  background: #FFA800;
  border: 3px solid #FFA800;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 20px;
  margin: 20px 0;
}
#menu .menu_gen__general__block .btn_none {
  display: none;
}
#menu .menu_gen .btn_menu {
  width: 261.8px;
  height: 55px;
  background: #FFA800;
  border: 3px solid #FFA800;
  border-radius: 47px;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: -0.025em;
  font-family: "Forum", sans-serif;
  color: #FFFFFF;
  margin: 105px  0 -100px 0;
}

.img_2 {
  position: relative;
  left: -105px;
  border-radius: 0 300px 300px 0;
  z-index: -20;
  margin: 200px 0;
}

h4 {
  position: relative;
  font-weight: 400;
  font-size: 48px;
  line-height: 53px;
  letter-spacing: -0.025em;
  color: #FFFFFF;
  margin: -320px 0 0 500px;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 10px;
}

.b_menu {
  width: 100%;
  background: transparent;

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: 400% 400%;
  position: relative;
}

.nav-bar {
  position: absolute;
  background-color: transparent;
  top: 0;
  right: 100%;
  height: 100vh;
  width: 250px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: position 2.9s;
  -webkit-transition: position 2.9s;
  -moz-transition: position 2.9s;
  -ms-transition: position 2.9s;
  -o-transition: position 2.9s;
}

.toggle {
  left: 0;
  box-shadow: 1px 0 15px 2px rgba(0, 0, 0, 0.4);
}

.toggle-menu {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2px 2px 2px 3px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.line {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #fff;
  transition: transform 0.2s ease-out;
  -webkit-transition: transform 0.2s ease-out;
  -moz-transition: transform 0.2s ease-out;
  -ms-transition: transform 0.2s ease-out;
  -o-transition: transform 0.2s ease-out;
}

.toggle .line1 {
  background-color: #000000;
  transform: scale(0.9) rotateZ(-45deg) translate(-6px, 4px);
}

.toggle .line2 {
  display: none;
}

.toggle .line3 {
  background-color: #000000;
  transform: scale(0.9) rotateZ(45deg) translate(-6px, -4px);
}

.toggle .toggle-menu {
  background-color: white;
}

.nav-list {
  list-style: none;

}

.nav-list-item {
  text-align: center;
  padding: 10px 0;
}
.nav-list-item a{
  color: white;

}
.nav-link {
  color: #fff;
  font-size: 22px;
  text-decoration: none;
  position: relative;
  padding-bottom: 4px;
}

.nav-link::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.4s ease-in-out;
  transform-origin: left;
  -webkit-transition: transform 0.4s ease-in-out;
  -moz-transition: transform 0.4s ease-in-out;
  -ms-transition: transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
}

.nav-link:hover::before {
  transform: scaleX(1);
}


#footer .footer {
  border-top: 2px solid #FFA800;
}
#footer .footer_general {
  display: flex;
  justify-content: space-between;
}
#footer .footer_general__icons {
  margin-top: 20px;
}
#footer .footer_general__icons a {
  margin: 10px 10px 0 0;
}
#footer .footer_general__link {
  margin-top: 30px;
}
#footer .footer_general__link a {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  margin: 10px 20px;
}
#footer .footer__safety {
  height: 100px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #FFA800;
  margin: 55px 0 0 150px;
}

/*# sourceMappingURL=style.css.map */
