@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Lato:wght@300&family=Montserrat:ital,wght@0,200;0,600;1,400&family=Noto+Sans:wght@400;700&family=Roboto+Flex:opsz@8..144&family=Roboto:wght@500&display=swap');
.img_second{
  position: absolute;
  z-index: -200;
}
#header {
  .header {
    &_general {
      display: flex;
      justify-content: space-between;

      &__logo {
        margin-top: 60px;
      }

      &__navbar {
        margin: 70px 0 0 640px;
        position: absolute;
        z-index: 10;

        a {
          font-family: 'Forum', sans-serif;

          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 20px;
          color: #FFFFFF;
          margin-left: 28px;
        }
      }
    }
  }
}

#menu {
  margin-bottom: 250px;
  h2{
    font-weight: 400;
    font-size: 48px;
    line-height: 53px;
    letter-spacing: -0.025em;
    color: #FFFFFF;
    margin: 100px 0 45px 500px;
  }
  h3{
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.025em;
    margin: 100px 0 -74px 500px;
    color: #FFFFFF
  }
  button{
    width: 194px;
    height: 47px;
    font-family: "Forum", sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    background: #FFA800;
    border-radius: 13px;
  }
  button:hover {
    color:#FFA800 ;
    background: transparent;
    border: 1px solid #FFA800;
  }
  span{
    margin: 45px 0 0 400px;
  }
  .menu {

    &_gen {

      display: flex;
      justify-content: center;
      text-align: center;

      &__general {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 336px;
        height: 453px;
        border: 4px solid #FFA800;
        border-radius: 14px;
        margin: 200px 0 0 0;

        &__img1 {
          position: absolute;
          width: 330px;
          height: 350px;
          margin-top: -150px;
        }

        &__img {
          position: absolute;
          width: 280px;
          height: 350px;
          margin-top: -140px;
        }

        &__block {
          margin-top: 100px;
          text-align: center;

          h1 {
            font-weight: 400;
            font-size: 36px;
            line-height: 40px;
            letter-spacing: -0.025em;
            color: #FFFFFF;
            margin: 30px 0;
          }

          p {
            font-weight: 400;
            font-size: 18px;
            line-height: 20px;
            text-align: center;
            letter-spacing: -0.025em;
            color: #FFFFFF;
            margin: 15px 0;
          }

          button {
            font-family: "Forum", sans-serif;
            width: 308px;
            height: 40px;
            background: #FFA800;
            border: 3px solid #FFA800;
            border-radius: 4px;
            color: #FFFFFF;
            font-size: 18px;
            line-height: 20px;
            margin: 20px 0;
          }
        }
      }
    }
  }
}

#footer {

  .footer {
    border-top: 2px solid #FFA800;

    &_general {
      display: flex;
      justify-content: space-between;

      &__logo {
      }

      &__icons {
        margin-top: 20px;

        a {
          margin: 10px 10px 0 0;
        }

      }

      &__link {
        margin-top: 30px;

        a {
          font-weight: 400;
          font-size: 20px;
          line-height: 20px;
          color: #FFFFFF;
          margin: 10px 20px;
        }
      }
    }

    &__safety {
      height: 100px;
      text-align: center;
      font-weight: 400;
      font-size: 20px;
      line-height: 20px;
      color: #FFA800;
      margin: 55px 0 0 150px;

    }
  }
}